<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../assets/img/favicon.png">
  <title>
    Click Adilla
  </title>
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <!-- Nucleo Icons -->
  <link href="../assets/css/nucleo-icons.css" rel="stylesheet" />
  <link href="../assets/css/custom.css" rel="stylesheet" />
  <!-- CSS Files -->
  <link href="../assets/css/black-dashboard.css?v=1.0.0" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="../assets/demo/demo.css" rel="stylesheet" />
</head>
<body class="white-content">
  <div class="wrapper" id="wrapper">
    <div class="sidebar" id="sidebar" data="green">
      <div class="sidebar-wrapper">
        <div class="logo">
          <a href="javascript:void(0)" class="simple-text logo-mini">
            Click
          </a>
          <a href="javascript:void(0)" class="simple-text logo-normal">
            Adilla
          </a>
        </div>
        <ul class="nav" id="nav-bar">
          <li class="active ">
            <a href="javascript:dashboard()" class="dashboard">
              <i class="tim-icons icon-chart-pie-36"></i>
              <p>Dashboard</p>
            </a>
          </li>
          <li>
            <a href="javascript:profile()" class="profile">
              <i class="tim-icons icon-single-02"></i>
              <p class="profile">profile</p>
            </a>
          </li>
          <li>
            <a href="javascript:package()">
              <i class="tim-icons icon-atom"></i>
              <p>Package</p>
            </a>
          </li>
          <li>
            <a href="javascript:withdrawal()">
              <i class="tim-icons icon-money-coins"></i>
              <p>Withdrawal</p>
            </a>
          </li>
          <li>
            <a href="javascript:transaction()">
              <i class="tim-icons icon-align-left-2"></i>
              <p>Transaction</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel" data="green">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent">
        <div class="container-fluid">
          <div class="navbar-wrapper" id="dashboard">
            <div class="navbar-toggle d-inline">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <a class="navbar-brand" href="javascript:void(0)">Dashboard</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>
          <div class="collapse navbar-collapse" id="navigation">
            <ul class="navbar-nav ml-auto">
              <li class="dropdown nav-item">
                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                  <div class="photo">
                    <img src="../assets/img/anime3.png" alt="Profile Photo">
                  </div>
                  <b class="caret d-none d-lg-block d-xl-block"></b>
                  <p class="d-lg-none">
                   <%= name %>
                  </p>
                </a>
                <ul class="dropdown-menu dropdown-navbar">
                  <li class="nav-link"><a href="javascript:profilePage()" class="nav-item dropdown-item">Profile</a></li>
                <%  if(downlines == 'exist'){ %>
                  <li class="nav-link"><a href="javascript:downline()" class="nav-item dropdown-item">Downlines</a></li>
                <%  } %>
                  <li class="dropdown-divider"></li>
                  <li class="nav-link"><a href="/log-out" class="nav-item dropdown-item">Log out</a></li>
                </ul>
              </li>
              <li class="separator d-lg-none"></li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="modal modal-search fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="SEARCH">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <i class="tim-icons icon-simple-remove"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- End Navbar -->
      <div class="content" id="content">
        <div class="row">
          <div class="col-12">
            <div class="card bg-success text-white">
              <div class="card-header ">
                <div class="row">
                  <div class="col-sm-6 text-left">
                    <h2 class="card-title text-white">Overview</h2>
                  </div>
                </div>
              </div>
              <div class="card-body ">
                <div class="my-3">
                  <div class="text-center mb-2">
                    <h5 class="card-category text-white text-sm">Available Balance: <span class="font-weight-bold"><%= availableBalance %></span></h5>
                  </div>
                  <hr class="horizontal">
                  <div class="row">
                    <div class="text-center col">
                      <h5 class="card-category text-white">Total Earnings</h5>
                      <h4 class="card-title text-white"> <%= totalIncome %> <span class="card-category text-white">/-</span></h4>
                    </div>
                    <div class="text-center col">
                      <h5 class="text-end card-category text-white">Weekly Earnings</h5>
                      <h4 class="text-end card-title text-white"> <%= royal %> <span class="card-category text-white">/-</span></h4>
                    </div>
                  </div>
                  <hr class="horizontal">
                  <div class="row">
                    <div class="text-center col">
                      <h5 class="card-category text-white">Direct Earnings</h5>
                      <h4 class="card-title text-white"> <%= direct %> <span class="card-category text-white">/-</span></h4>
                    </div>
                    <div class="text-center col">
                      <h5 class="text-end card-category text-white">Level Earnings</h5>
                      <h4 class="text-end card-title text-white"> <%= level %> <span class="card-category text-white">/-</span></h4>
                    </div>
                  </div>
                  <hr class="horizontal">
                  <div class="row">
                  <div class="text-center col">
                    <h5 class="text-end card-category text-white">Team Earnings</h5>
                    <h4 class="text-end card-title text-white"> <%= team %> <span class="card-category text-white">/-</span></h4>
                  </div>
                    <div class="text-center col">
                      <h5 class="text-end card-category text-white">Club Earnings</h5>
                      <h4 class="text-end card-title text-white"> <%= franchise %> <span class="card-category text-white">/-</span></h4>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>

            <div class="col-12" id="currentPackage">
            <%  if(task.status == "Active"){   %>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content  white-content">
                      <div class="modal-header">
                        <h4 class=" fs-5" id="exampleModalLabel">Today's Task</h4>
                      </div>
                      <div class="modal-body text-center" id="modalBody">
                        <div class="text-center" id="player">
                          <iframe width="auto" class="text-center" height="auto" src="https://www.youtube.com/embed/<%=taskLink%>" frameborder="0" allowfullscreen></iframe>
                          <input type="text" hidden name="iframeId" id="iframeId" value="<%=taskLink%>">
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" onclick="dailyTask()" id="dailyTask" disabled class="btn btn-success" data-bs-dismiss="modal">Done</button>
                      </div>
                    </div>
                  </div>
                </div>
            <%  }   %>
              <div class="card bg-success text-white">
                <div class="card-header ">
                  <div class="row">
                    <div class="col-sm-6 text-left">
                      <h4 class="card-title text-white text-center">Current Plan Details</h4>
                    </div>
                  </div>
                </div>
                <div class="card-body">
              <%    if(task.status == "Active" || task.status == "Cooldown" || task.status == "Activation Required" ){  %>
                    <div class="row">
                      <div class="text-center col">
                        <h5 class="card-category text-white">Plan Status</h5>
                        <h5 class="card-title text-white text-sm"><%=task.status%><i class="tim-icons icon-sound-wave text-info"></i></h5>
                      </div>
                      <div class="text-center col">
                        <%  if(task.status == "Active"){  %>
                          <h5 class="text-end text-white card-category">Today's Task</h5>
                          <h5 class="text-end text-white card-title text-sm btn btn-sm btn-simple active btn-success" data="white-content"  data-bs-toggle="modal" data-bs-target="#exampleModal">Start</h5>
                      <%  }else{  %>
                          <h5 class="text-end text-white card-category">Renews tommorow at</h5>
                          <h5 class="text-end text-white card-title text-sm">1:00am</h5>
                        <%  }  %>
                      </div>
                    </div>
                    <hr class="horizontal">
                    <div class="row">
                      <div class="text-center col">
                        <h5 class="card-category text-white">Package</h5>
                        <h5 class="card-title text-sm  text-white"> <%= currentPackage %> <span class="card-category text-white">/-</span></h5>
                      </div>
                      <div class="text-center col">
                        <h5 class="text-end card-category text-white">Day</h5>
                        <h5 class="text-end card-title text-sm text-white"><%=task.days%></h5>
                      </div>
                    </div>
              <%    }else{  %>
                    <div class="row">
                      <div class="text-center col">
                        <h5 class="card-category text-white">Plan Status</h5>
                        <h5 class="card-title text-sm text-white">No Active Plan<i class="tim-icons icon-sound-wave text-info"></i></h5>
                      </div>
                      <div class="text-center col">
                        <h5 class="text-end card-category text-white">Enroll time</h5>
                        <h5 class="text-end card-title text-sm text-white">Nil</h5>
                      </div>
                    </div>
                    <hr class="horizontal">
                    <div class="row">
                      <div class="text-center col">
                        <h5 class="card-category text-white">Package</h5>
                        <h5 class="card-title text-sm text-white"> 0 <span class="card-category text-white">/-</span></h5>
                      </div>
                      <div class="text-center col">
                        <h5 class="text-end card-category text-white">Day</h5>
                        <h5 class="text-end card-title text-sm text-white"><%=task.days%></h5>
                      </div>
                    </div>
              <%    }  %>

                  </div>
                </div>
              </div>
            </div>
        </div>

      </div>

      <footer class="footer">


        <div class="container-fluid">
          <ul class="nav">
            <li class="nav-item">
              <a href="javascript:void(0)" class="nav-link">
                Click Adilla
              </a>
            </li>
          </ul>
          <div class="copyright">
            ©
            <script>
              document.write(new Date().getFullYear())
            </script> All rights reserved.
          </div>
        </div>
      </footer>
    </div>
  </div>
  <!--   Core JS Files   -->
  <script src="../assets/js/core/jquery.min.js"></script>
  <script src="../assets/js/core/popper.min.js"></script>
  <script src="../assets/js/core/bootstrap.min.js"></script>
  <script src="../assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <script src="../assets/js/validater.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  <script type="text/javascript">

    const downline = function(){
      $.ajax({
        url: "/downline",
        type: "GET",
        success: function(data){
          if(data.redirect != true){

            data.downlines.forEach(function(user){
              document.getElementById('content').innerHTML = `
                <div class="row">
                  <div class="col-md-12">
                    <div class="card ">
                      <div class="card-header">
                        <h3 class="card-title"> Transaction</h3>
                      </div>
                      <div class="card-body">

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h3 class=" fs-5" id="exampleModalLabel">Transaction Details</h3>
                              </div>
                              <div class="modal-body" id="modalBody">
                                <div class="spinner-grow" role="status">
                                  <span class="visually-hidden">Loading...</span>
                                </div>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="table-responsive" style="overflow: hidden;">
                          <table class="table tablesorter " id="">
                            <thead class=" text-primary">
                              <tr>
                                <th class="">
                                  Transaction
                                </th>
                                <th class="text-center">
                                  TRNX ID
                                </th>
                                <th class="text-center">
                                  Amount
                                </th>
                              </tr>
                            </thead>
                            <tbody id="trnxBody">

                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                `;
            });
          }else{
            login2000()
          }
        },
        error:  function (status, error) {
          console.log('Error: ' + error.message);
        }
      });
    }

  </script>
  <script>
      var videoId = document.getElementById('iframeId').value;
      var tag = document.createElement('script');

      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      var player;
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
          height: '150',
          width: '300',
          videoId: videoId,
          playerVars: {
            'playsinline': 1,
            'controls':0
          },
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
          }
        });
      }

      // 4. The API will call this function when the video player is ready.
      function onPlayerReady(event) {
        // event.target.playVideo();
      }

      function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.PLAYING) {
                console.log('Video is playing');
            } else if (event.data == YT.PlayerState.PAUSED) {
                console.log('Video is paused');
            } else if (event.data == YT.PlayerState.ENDED) {
                document.getElementById("dailyTask").disabled = false;
                demo.showNotification('bottom','center', 'success', 'Congradulation on Completing the Daily Task!!!');
            }
      }
    </script>
    <script>
      async function fetchQRCode() {
        const response = await fetch('/generateQR');
        const data = await response.json();
        document.getElementById('qrcode').src = data.url;
      }
    </script>

  <!--  Google Maps Plugin    -->
  <!-- Place this tag in your head or just before your close body tag. -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Chart JS -->
  <script src="../assets/js/plugins/chartjs.min.js"></script>
  <!--  Login form    -->
  <script src="/assets/js/requests.js" type="text/javascript"></script>
  <script src="/assets/js/response.js" type="text/javascript"></script>
  <!--  Notifications Plugin    -->
  <script src="../assets/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Black Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="../assets/js/black-dashboard.min.js?v=1.0.0"></script><!-- Black Dashboard DEMO methods, don't include it in your project! -->
  <script src="../assets/demo/demo.js"></script>
  <script>
    $(document).ready(function() {
      $().ready(function() {
        $sidebar = $('.sidebar');
        $navbar = $('.navbar');
        $main_panel = $('.main-panel');

        $full_page = $('.full-page');

        $sidebar_responsive = $('body > .navbar-collapse');
        sidebar_mini_active = true;
        white_color = false;

        window_width = $(window).width();

        fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();



        $('.fixed-plugin a').click(function(event) {
          if ($(this).hasClass('switch-trigger')) {
            if (event.stopPropagation) {
              event.stopPropagation();
            } else if (window.event) {
              window.event.cancelBubble = true;
            }
          }
        });

        $('.fixed-plugin .background-color span').click(function() {
          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data', new_color);
          }

          if ($main_panel.length != 0) {
            $main_panel.attr('data', new_color);
          }

          if ($full_page.length != 0) {
            $full_page.attr('filter-color', new_color);
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.attr('data', new_color);
          }
        });

        $('.switch-sidebar-mini input').on("switchChange.bootstrapSwitch", function() {
          var $btn = $(this);

          if (sidebar_mini_active == true) {
            $('body').removeClass('sidebar-mini');
            sidebar_mini_active = false;
            blackDashboard.showSidebarMessage('Sidebar mini deactivated...');
          } else {
            $('body').addClass('sidebar-mini');
            sidebar_mini_active = true;
            blackDashboard.showSidebarMessage('Sidebar mini activated...');
          }

          // we simulate the window Resize so the charts will get updated in realtime.
          var simulateWindowResize = setInterval(function() {
            window.dispatchEvent(new Event('resize'));
          }, 180);

          // we stop the simulation of Window Resize after the animations are completed
          setTimeout(function() {
            clearInterval(simulateWindowResize);
          }, 1000);
        });

        $('.switch-change-color input').on("switchChange.bootstrapSwitch", function() {
          var $btn = $(this);

          if (white_color == true) {

            $('body').addClass('change-background');
            setTimeout(function() {
              $('body').removeClass('change-background');
              $('body').removeClass('white-content');
            }, 900);
            white_color = false;
          } else {

            $('body').addClass('change-background');
            setTimeout(function() {
              $('body').removeClass('change-background');
              $('body').addClass('white-content');
            }, 900);

            white_color = true;
          }


        });

        $('.light-badge').click(function() {
          $('body').addClass('white-content');
        });

        $('.dark-badge').click(function() {
          $('body').removeClass('white-content');
        });
      });
    });

    document.addEventListener('click', function(event) {
      var navigation = document.getElementById('navigation');
      var button = document.querySelector('.navbar-toggler');

      // Check if the clicked element is outside the navigation and button
      if (!navigation.contains(event.target) && !button.contains(event.target)) {
          // Close the navigation
          navigation.classList.remove('show');
      }
    });

  </script>
  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      demo.initDashboardPageCharts();

    });
  </script>
  <script src="https://cdn.trackjs.com/agent/v3/latest/t.js"></script>
  <script>
    window.TrackJS &&
      TrackJS.install({
        token: "ee6fab19c5a04ac1a32a645abde4613a",
        application: "black-dashboard-free"
      });
  </script>
</body>

</html>
